.botones {
  padding-top: 50px;
  font-size: small !important;
  padding-left: 0px !important;
}
.botones .btn-primary {
  font-size: small !important;
}
.botones .btn-light {
  font-size: small !important;
}
.botones .btn-light:hover {
  color: black !important;
  border-color: black !important;
}

.btn-primary:hover {
  background-color: white !important;
  border-color: #4582EC !important;
  color: #4582EC !important;
}

.linksFeatures {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-tabs .nav-link {
  color: black;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  border-color: white white #C93838 !important;
  border-width: 4px;
  font-size: 1rem !important;
  color: black !important;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link:hover {
  color: #C93838;
}

footer .nav-link {
  color: white !important;
}
footer .nav-link:hover {
  color: #C93838 !important;
}

.container1 {
  color: white !important;
  text-align: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.container2 {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.textoBookmark {
  padding-left: 5% !important;
}

.fs-5 {
  color: grey;
}

.textoLinks {
  padding-left: 10% !important;
  margin-top: 12%;
}

.img-move-wrapper {
  position: relative;
  overflow: hidden;
  max-width: 1140px;
  margin: 0 auto;
}

.img1 {
  position: relative;
  max-width: 100%;
}

.fondoAzul {
  width: 350px;
  height: 210px;
  border-bottom-left-radius: 150px;
  margin-top: 50px;
  left: 120px;
  z-index: -1;
  position: absolute;
  background-color: #4582EC;
}

@media (min-width: 576px) {
  .fondoAzul {
    width: 500px;
    height: 300px;
    border-bottom-left-radius: 150px;
    margin-top: 50px;
    left: 120px;
    top: 50px;
    z-index: -1;
    position: absolute;
    background-color: #4582EC;
  }
}
@media (min-width: 768px) {
  .fondoAzul {
    width: 300px;
    height: 200px;
    border-bottom-left-radius: 150px;
    margin-top: 30px;
    left: 100px;
    top: 50px;
    z-index: -1;
    position: absolute;
    background-color: #4582EC;
  }
}
@media (min-width: 992px) {
  .fondoAzul {
    width: 355px;
    height: 285px;
    border-bottom-left-radius: 150px;
    margin-top: 60px;
    left: 170px;
    top: 50px;
    z-index: -1;
    position: absolute;
    background-color: #4582EC;
  }
}
@media (min-width: 1200px) {
  .fondoAzul {
    width: 480px;
    height: 320px;
    border-bottom-left-radius: 150px;
    margin-top: 90px;
    left: 170px;
    top: 50px;
    z-index: -1;
    position: absolute;
    background-color: #4582EC;
  }
}
@media (min-width: 1400px) {
  .fondoAzul {
    width: 500px;
    height: 350px;
    border-bottom-left-radius: 150px;
    margin-top: 90px;
    left: 170px;
    top: 50px;
    z-index: -1;
    position: absolute;
    background-color: #4582EC;
  }
}
.fondoAzul2 {
  width: 200px;
  height: 250px;
  border-bottom-right-radius: 150px;
  top: 50px;
  z-index: -1;
  position: absolute;
  background-color: #4582EC;
  right: 170px;
}

@media (min-width: 576px) {
  .fondoAzul2 {
    width: 500px;
    height: 300px;
    border-bottom-right-radius: 150px;
    margin-top: 60px;
    top: 50px;
    z-index: -1;
    position: absolute;
    background-color: #4582EC;
    right: 200px;
  }
}
@media (min-width: 768px) {
  .fondoAzul2 {
    width: 300px;
    height: 220px;
    border-bottom-right-radius: 150px;
    margin-top: 0px;
    top: 50px;
    z-index: -1;
    position: absolute;
    background-color: #4582EC;
    right: 200px;
  }
}
@media (min-width: 992px) {
  .fondoAzul2 {
    width: 355px;
    height: 285px;
    border-bottom-right-radius: 150px;
    margin-top: 60px;
    top: 50px;
    z-index: -1;
    position: absolute;
    background-color: #4582EC;
    right: 200px;
  }
}
@media (min-width: 1200px) {
  .fondoAzul2 {
    width: 480px;
    height: 320px;
    border-bottom-right-radius: 150px;
    margin-top: 60px;
    top: 50px;
    z-index: -1;
    position: absolute;
    background-color: #4582EC;
    right: 200px;
  }
}
@media (min-width: 1400px) {
  .fondoAzul2 {
    width: 500px;
    height: 350px;
    border-bottom-right-radius: 150px;
    margin-top: 60px;
    top: 50px;
    z-index: -1;
    position: absolute;
    background-color: #4582EC;
    right: 200px;
  }
}
.img2 {
  position: relative;
  max-width: 100%;
}

.img3 {
  padding-left: 15%;
  position: relative;
  max-width: 100%;
}

.navbar {
  padding-left: 3%;
  font-size: small;
}
.navbar .nav-link {
  color: black !important;
}
.navbar .btn-danger {
  font-size: small;
}

.nav-link:hover {
  color: #C93838 !important;
}

.btn-danger:hover {
  font-size: small;
  background-color: white !important;
  border-color: #C93838 !important;
  color: #C93838 !important;
}

.card-body {
  text-align: center;
}

.accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.accordion-item {
  border-right: none !important;
  border-left: none !important;
}

.accordion-button::after {
  background-image: url("../img/icon-arrow.svg") !important;
}

.accordion-button:hover {
  color: #C93838;
}

.accordion-button:not(.collapsed) {
  color: black !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("../img/icon-close.svg") !important;
}

.contact {
  background: #4582EC;
}

.footer2 {
  background: #041562;
}
.footer2 .nav-link {
  color: white !important;
}

.form-control {
  display: inline list-item !important;
  width: auto !important;
  border-color: grey !important;
}

.iconos {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.iconos:hover {
  color: #C93838 !important;
}