
.img-move-wrapper {
    position: relative;
    overflow: hidden;
    max-width: 1140px;
    margin: 0 auto;
}
.img1 {
    position: relative;   
 }
 .fondoAzul{
    width:500px;
    height:350px;
    border-bottom-left-radius: 150px;
    margin-top: 90px;
    margin-left: 170px;  
    top:50px;
    z-index: -1;
    position:absolute;
    background-color:$azulBoton;
 }
 .fondoAzul2{
    width:500px;
    height:350px;
    border-bottom-right-radius: 150px;
    margin-top: 60px; 
    top:50px;
    z-index: -1;
    position:absolute;
    background-color:$azulBoton;
    right: 200px;
 }
 .img2{
   //  padding-left: 8%;
    position: relative; 
 }
 .img3{
   padding-left: 15%;
    position: relative; 
 }
